html, body {
  height: 100%;          /* Que ocupe toda la pantalla */
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase; 
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;      /* Asegura ocupar toda la vista */
}

main {
  flex: 1;                /* Ocupa todo el espacio libre */
}

footer {
  margin-top: auto;       /* Empuja el footer hacia abajo */
  text-align: center;
  background: linear-gradient(90deg, #064635, #29ABE2, #6A3DE8);
  color: #fff;
  padding: 15px;
}

header {
  background: linear-gradient(90deg, #064635, #29ABE2, #6A3DE8);
  color: #fff;
  padding: 15px;
}

/* --- NAVBAR EN GRID: logo | menu centrado | login derecha --- */
nav.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  position: relative;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* --- MENU CENTRADO --- */
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 75px;
}

/* --- LOGIN A LA DERECHA CON ÍCONO --- */
.login {
  justify-self: end;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: #fff;
  text-decoration: none;
}
.login icono { font-size: 18px; }


/* --- HERO --- */
.hero {
  text-align: center;
  padding: 50px;
  background: #f4f4f4;
}

/* --- LOGO  --- */
.logo {
  border-radius: 30px;
  width: 70px;
  height: auto;
}
